:root {
  --font-size: 1rem;  /* 16px */
  --px-10: 0.625rem;  /* 10px */
  --px-14: 0.875rem;  /* 14px */
  --px-20: 1.25rem;   /* 20px */
  --px-45: 2.8125rem; /* 45px */
  --color-black: #181818; /* 기본 컬러 색상 */
  --color-green: #03cf5d;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border:0;

  ul {
    list-style-type: none;
  }

  &:focus{
    outline: 0;
  }

  &:focus-visible{
    outline: 2px solid #24388d;
  }
}

.main {
  padding: 0 var(--px-20);
  font-size: var(--font-size);
  color: var(--color-black);
}

.logo {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */

  img {
    margin: var(--px-45);
    display: block;
    width: 230px;
    inline-size: 230px;
  }
}

.login-form {
  
  input, .login-button {
    display: flex;
    width: 100%;
    inline-size: 100%;
  }

  input {
    font-size: var(--px-14);
    height: var(--px-45);
    block-size: var(--px-45);
    outline: 1px solid #dadada;
    background-color: white;
    margin-top: var(--px-10);
    margin-block-start: var(--px-10);
    padding-left: var(--px-20);
    padding-inline-start: var(--px-20);
  }

  input:focus{
    outline: 1px solid var(--color-green);
    background-color: #e9f0fd;
  }

  .login-button {
    font-size: var(--font-size);
    height: var(--px-45);
    block-size: var(--px-45);
    color: white;
    background-color: var(--color-green);
    margin-top: var(--px-20);
    margin-block-start: var(--px-20);
    justify-content: center;
    align-items: center;
  }
}

.login-check-group {
  display: flex;
  justify-content: right; /* 모바일일 땐 '로그인 상태유지'가 오른쪽에 위치 */
  margin-top: var(--px-10);
  margin-block-start: var(--px-10);

  .login-status-check {
    position: relative;

    input {
      position: absolute;
      appearance: none; /* 체크박스 아이콘 제거 */
      width: 24px;
      inline-size: 24px;
      height: 24px;
      block-size: 24px;
    }

    input:checked + label {
      background-image: url(/icons/checked.svg); /* 체크했을 때 */
    }

    label {
      background: transparent url(/icons/unchecked.svg) no-repeat 0 0 /contain; /* 체크 안 했을 때 */
      padding-left: 29px;
    }
  }
}

.login-security-check {
  display: none; /* 모바일일 땐 IP보안 숨김 */
}


/* 데스크탑 스타일 재정의 */
@media (min-width: 768px) {
  .main {
    width: 500px;
    inline-size: 500px;
    margin: 0 auto;
  }

  .login-security-check {
    display: block; /* IP보안 보이게 */
    position: relative;

    a {
      text-decoration: none;
      font-weight: 700;
    }

    input {
      position: absolute;
      appearance: none;
      width: 40%;
      inline-size: 40%;
      height: 100%;
      block-size: 100%;
    }

    input:checked + .security-on-off::before {
      content: 'ON';
      color: var(--color-green);
    }
  
    input + .security-on-off::before {
      content: 'OFF';
    }
  }

  .login-check-group {
    display: flex;
    justify-content: space-between; /* 로그인 상태유지, IP보안: 양쪽 정렬 */
  }
}


/* 화면에선 숨기고, 스크린리더에서만 읽음 */
.sr-only {
  position: absolute;
  width: 1;
  height: 1;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}