* {
  box-sizing: border-box;
}

.title, .group {
  border-radius: 5px;
  border: 1px solid #DBDBDB;
}

.title {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

.group {
  width: 800px;
  height: 500px;
}

.avatar {
  position: relative;
  float: left; /* 이미지와 상태 나란히 배치 */
  margin: 10px;
  top: 166px; /* 계산해서 중앙 배치 */
  left: 232px;
}

img {
  display: block;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.state {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  bottom: 5px;
  right: 0px;
}

.online {
  background-color: #4CFE88; /* 온라인일 때 */
}

.offline {
  background-color: #DBDBDB; /* 오프라인일 때 */
}

.avatar:nth-child(5){
  clear: both;
}

@supports (display: flex) {
  .group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    max-width: 800px; /* 최대 너비 */
    min-height: 500px; /* 최소 높이 */
    width: 100%;
    height: auto;
    padding: 190px;
  }
  .avatar {
    top: 0px;
    left: 0px;
  }
  .avatar:nth-child(n+5) {
    order: -1;
  }
}