* {
  box-sizing: border-box;
}

.main, .title {
  border-radius: 5px;
  border: 1px solid #DBDBDB;
}

.main {
  width: 800px;
  height: 500px;
  /* display: flow-root; */
}

.title {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

/* 상하, 좌우 여백 */
section {
  margin: 166px 231px;
}

.avatar {
  position: relative;
  float: left; /* 이미지와 상태 나란히 배치 */
  margin: 10px;
}

img {
  display: block; /* 문제 */
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.state {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  bottom: 5px;
  right: 0px;
}

.online {
  background-color: #4CFE88; /* 온라인일 때 */
}

.offline {
  background-color: #DBDBDB; /* 오프라인일 때 */
}

.boy-group {
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
